.col-sm-4
  / .item-event{id: dom_id(event), class: event.status}
  .item-event{id: dom_id(event), class: 'active'}
    = link_to event, class: 'event-show-link' do
      .event-header
        %h3.name= event.name.titleize
        %p.event-type= event.event_type_name.titleize
        %p.location.icon-header
          = event.full_address
        %p.calendar.icon-header
          = l(event.start_at, format: :short)

    .event-content
      %ul.companies
        - images_urls = ['https://d13yacurqjgara.cloudfront.net/users/6237/avatars/normal/photo1.jpg?1404262407', 'https://d13yacurqjgara.cloudfront.net/users/13157/avatars/normal/profile.jpeg?1402476363', 'https://d13yacurqjgara.cloudfront.net/users/469158/avatars/normal/Untitled-4.jpg?1403172039', 'https://d13yacurqjgara.cloudfront.net/users/354150/avatars/normal/cb28ad0d88d19d2061b4c29f6320e7db.jpg?1424626270', 'https://d13yacurqjgara.cloudfront.net/users/453701/avatars/normal/23675feba7e038376a25fc15b940cf18.jpg?1414347217', 'https://d13yacurqjgara.cloudfront.net/users/262590/avatars/normal/fe089668592dd18c438369e357e5e70d.jpg?1421845383']

        - event.companies.limit(6).each do |company|
          %li
            %span{title: "#{company.name}", class: 'tipsy-add'}= image_tag(images_urls.sample)
          - if event.companies.size > 6
            - more_qty = event.companies.size - 6
            %li= "+#{more_qty}"

  .options
    .row
      .col-sm-4.col
        %span.participant.icon-option
          = event.clients.size
        %span.icon-text
          Invitados

      .col-sm-4.middle.col
        %span.company.icon-option
          = event.companies.size
        %span.icon-text
          Organizadores

      .col-sm-4.col
        %span.recepcionist.icon-option
          12
        %span.icon-text
          Recepcionistas
