.col-sm-4
  / .item-event{id: dom_id(event), class: event.status}
  .item-event{id: dom_id(event), class: 'active'}
    = link_to event, class: 'event-show-link' do
      .event-header
        %h3.name= event.name.titleize
        %p.icon-header
          %i.fa.fa-map-marker.fa-lg
          = event.full_address
        %p.icon-header
          %i.fa.fa-calendar-o.fa-lg
          = l(event.start_at, format: :short)
      .event-content
        %p.creator
          = event.creator.fullname

    = link_to event, class: 'event-show-hover', style: 'opacity: 0' do
      %strong= event.name.titleize
      %span.event-description
        = event.description

  .options
    .row
      .col-sm-4.col
        %span.participant.icon-option
          = event.clients.size
        %span.icon-text
          Invitados

      .col-sm-4.middle.col
        %span.company.icon-option
          = event.companies.size
        %span.icon-text
          Organizadores

      .col-sm-4.col
        %span.recepcionist.icon-option
          12
        %span.icon-text
          Recepcionistas
