.col-sm-4
  .item-event{id: dom_id(event), class: "#{event_status_class(event.start_at)}"}
    = link_to event, class: 'event-show-link' do
      .event-header
        %h3.name= event.name.titleize
        %p.event-type= event.event_type_name.titleize
        %p.icon-header
          %i.fa.fa-map-marker.fa-lg
          = event.full_address
        %p.icon-header
          %i.fa.fa-calendar-o.fa-lg
          = l(event.start_at, format: :short)

    .event-content
      %ul.companies

        - if event.companies.size > 6
          %li.aditional-company= "+#{event.companies.size - 6}"

        - event.companies.limit(6).each do |company|
          %li
            %span{title: "#{company.name}", class: 'tipsy-add'}= image_tag(Company::LOGO_URLS.sample, class: 'avatar-icon')

  .options
    .row
      .col-sm-4.col
        %span.participant.icon-option
          = event.clients.size
        %span.icon-text
          Invitados

      .col-sm-4.middle.col
        %span.company.icon-option
          = event.companies.size
        %span.icon-text
          Organizadores

      .col-sm-4.col
        %span.recepcionist.icon-option
          = event.receptionists.size
        %span.icon-text
          Recepcionistas
