.event-show
  .row.event-header
    .col-sm-12
      .row
        .col-sm-4.col-md-offset-4
          %h3.title
            = @event.name.titleize
          %span= @event.event_type.name
          .info-desc
            %ul.companies-list
              %li
                = link_to new_event_participant_path(@event), {title: 'Agregar compañias', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'circle-add-link tipsy-add'} do
                  .circle-add
                    +

              - @event.companies.each do |company|
                %li
                  %span{title: "#{company.name}", class: 'tipsy-add'}= image_tag(Company::LOGO_URLS.sample, class: 'avatar-icon')

  .container
    .row.event-info
      .col-sm-6
        .info-desc
          %p.info-desc
            %i.fa.fa-map-marker.fa-lg
            = @event.full_address

          %p
            %i.fa.fa-calendar-o.fa-lg
            = l @event.start_at, format: :short

          %p
            %i.fa.fa-clock-o.fa-lg
            = "#{@event.duration} hrs"

          %p
            %i.fa.fa-user.fa-lg
            = @event.creator.fullname

      .col-sm-6
        .info-desc
          %p.event-desc
            = @event.description

        .info-desc.event-desc
          %ul.receptionist-list
            %li
              = link_to new_event_event_receptionist_path(@event), {title: 'Agregar recepcionista', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'circle-add-link tipsy-add'} do
                .circle-add
                  +
            - @event.receptionists.each do |receptionist|
              %li
                %span{title: "#{receptionist.fullname}", class: 'tipsy-add'}= image_tag(Company::LOGO_URLS.sample, class: 'avatar-icon')


    .row
      .col-sm-6
        %fieldset
          %legend
            Mis Invitados
            = link_to '+ Agrega un invitado', new_event_checklist_path(@event),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn-add-client'}

          %ul.checklist-list
            - unless @checklists.blank?
              = render @checklists
            - else
              Aún no tienes ningun invitado