.event-show
  %h2= "Evento #{@event.name}"
  .info
    %p
      %strong Descripcion:
      = @event.description
    %p
      %strong Tipo de evento:
      = @event.event_type.name
    %p
      %strong Lugar:
      = @event.full_address
    %p
      %strong Inicio:
      = l @event.start_at, format: :short

    %p
      %strong Duracion:
      = @event.duration

    %p
      %strong Creado por:
      = @event.creator.fullname


  .row
    / .col-sm-6
    /   %fieldset
    /     %legend Agregar Companies
    /     = render 'participants/form'
    /     %ul
    /       = render @event.participants

    .col-sm-6
      %fieldset
        %legend Agregar invitados
        = link_to ' Buscar', new_client_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
        O
        = link_to '+ Crear invitado', new_client_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
        = render 'checklists/form'
        %ul
          = render @event.checklists