!!!
%html
  %head
    %title EventsBackend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if admin_signed_in?
      = render 'layouts/header'
      .container
        - flash.each do |message_type, message|
          %div{class: "alert alert-#{message_type}"}= message
        = yield
    - else
      = yield
    #modal-window.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?libraries=places'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true